#rockButton, #paperButton, #scissorsButton, #wellButton {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 160, 255, 0.45), 14, 0.35, 0, 0);
    -fx-transition: 0.18s;
}

#rockButton:hover, #paperButton:hover, #scissorsButton:hover, #wellButton:hover {
    -fx-scale-x: 1.18;
    -fx-scale-y: 1.18;
    -fx-effect: dropshadow(gaussian, rgba(0, 200, 255, 0.75), 22, 0.55, 0, 0);
}

#rockButton       { -fx-background-image: url("./pictures/Rock.png"); }
#paperButton      { -fx-background-image: url("./pictures/Paper.png"); }
#scissorsButton   { -fx-background-image: url("./pictures/Scissors.png"); }
#wellButton       { -fx-background-image: url("pictures/Well.png"); }

#displayWinner {
    -fx-font-family: "Orbitron", "Exo", "Audiowide", "Oxanium", "Space Grotesk", "Rajdhani";
    -fx-font-size: 30px;
    -fx-text-fill: #00d5ff;
    -fx-effect: dropshadow(gaussian, rgba(0,210,255,0.95), 22, 0.55, 0, 0);
}

#MusicPlayerLabel {
    -fx-font-family: "Gill Sans MT Condensed", bold;
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 8, 0.3, 0, 0);
}

#musicChoiceBox {
    -fx-font-family: "Berlin Sans FB", SansSerif;
    -fx-font-size: 15px;

    -fx-background-color: linear-gradient(to bottom right,
    rgba(0, 110, 255, 0.45),
    rgba(0, 255, 255, 0.45)
    );

    -fx-background-radius: 15;
    -fx-border-radius: 15;

    -fx-border-color: rgba(0, 200, 255, 0.8);
    -fx-border-width: 2;

    -fx-padding: 5 10;
    -fx-pref-width: 185px;

    -fx-effect: dropshadow(gaussian, rgba(0, 190, 255, 0.6), 18, 0.45, 0, 0);
}

#musicChoiceBox:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 255, 255, 0.9), 26, 0.65, 0, 0);
    -fx-cursor: hand;
}

#RockPaperScissorsAnchorpane {
    -fx-background-color: linear-gradient(to bottom right,
    rgba(10, 15, 60, 0.9),
    rgba(0, 120, 200, 0.85)
    );
    -fx-background-insets: 0;
}

#rockPaperScissorsGameLabel {
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
    -fx-font-size: 48px;
    -fx-text-fill: #e6f7ff;
    -fx-font-weight: 800;
}


#chooseYourWeaponLabel {
    -fx-font-family: "Orbitron", "Space Grotesk", "Rajdhani", sans-serif;
    -fx-font-size: 24px;
    -fx-text-fill: #7feaff;

    -fx-effect: dropshadow(gaussian, rgba(0, 180, 255, 0.75), 20, 0.45, 0, 0);
    -fx-alignment: center;
    -fx-text-alignment: center;
}