#rockButton {
    -fx-background-image: url("./pictures/Rock.png");
    -fx-background-size: cover;
    -fx-background-color:transparent;
}

#paperButton {
    -fx-background-image: url("./pictures/Paper.png");
    -fx-background-size: cover;
    -fx-background-color:transparent;
}

#scissorsButton {
    -fx-background-image: url("pictures/Scissors.png");
    -fx-background-size: cover;
    -fx-background-color:transparent;
}

#rockButton:hover, #paperButton:hover, #scissorsButton:hover, #wellButton:hover {
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
}


#musicChoiceBox{
    -fx-font-family: "Berlin Sans FB", SansSerif;
    -fx-font-size: 15px;
    -fx-background-color: rgb(67, 103, 99);
    -fx-background-radius: 12;
    -fx-border-style: bold;
    -fx-border-radius: 12;
    -fx-border-color: #282848;
    -fx-pref-width: 185px;
}

#wellButton {
    -fx-background-image: url("pictures/brunnen.png");
    -fx-background-size: cover;
    -fx-background-color:transparent;
}

#RockPaperScissorsAnchorpane{
    -fx-background-color: #82c9c0;
}